.box {
    background-color: rgba(0, 34, 8, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 400px;
    color: #fff;
  }

legend {
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.63);
  color: white;
  border-radius: 10px;
}
button{
    width: 42%;
    margin: 10px;
    height: 30px;
    cursor: pointer;
    background: rgb(225, 241, 180);
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
}

.centraliza {
    text-align: center;
}

table {
    border: 1;
    width: 100%;
}