<div class="box">
    <fieldset>
        <div>
            <input class="visor" type="text" [(ngModel)]="totalVisor">
        </div>
        <br>
        <div>
            <div>
                <button class="botaoMetade" (click)="acrescentarTempo(100)">+1min</button>
                <button class="botaoMetade" (click)="acrescentarTempo(30)">+30seg</button>
            </div>
            <br>
            <div class="">
                <button (click)="adicionaTempo(1)">1</button>
                <button (click)="adicionaTempo(2)">2</button>
                <button (click)="adicionaTempo(3)">3</button>
                <br>
                <button (click)="adicionaTempo(4)">4</button>
                <button (click)="adicionaTempo(5)">5</button>
                <button (click)="adicionaTempo(6)">6</button>
                <br>
                <button (click)="adicionaTempo(7)">7</button>
                <button (click)="adicionaTempo(8)">8</button>
                <button (click)="adicionaTempo(9)">9</button>
                <br>
                <button (click)="paraContador()">Cancelar</button>
                <button (click)="adicionaTempo(0)">0</button>
                <button (click)="iniciaContador()" [disabled]="contadorAtivo">Ligar</button>
            </div>
        </div>
    </fieldset>
</div>
