<div class="box">
    <fieldset>
        <div>
            <input class="visor" type="text">
        </div>
        <br>
        <div>
            <div>
                <button class="botaoMetade">+1min</button>
                <button class="botaoMetade">+30seg</button>
            </div>
            <br>
            <div class="">
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <br>
                <button>4</button>
                <button>5</button>
                <button>6</button>
                <br>
                <button>7</button>
                <button>8</button>
                <button>9</button>
                <br>
                <button>Cancelar</button>
                <button>0</button>
                <button>Ligar</button>
            </div>
        </div>
    </fieldset>
</div>
