<div class="box">
    <fieldset>
        <div>
            <input type="text">
        </div>
        <br>
        <div class="teclado">
            <div class="botaoMetade">
                <button>+1min</button>
                <button>+30seg</button>
            </div>
            <br>
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <br>
            <button>4</button>
            <button>5</button>
            <button>6</button>
            <br>
            <button>7</button>
            <button>8</button>
            <button>9</button>
            <br>
            <button>Cancelar</button>
            <button>0</button>
            <button>Ligar</button>
            
        </div>
        
    </fieldset>
</div>
