.container {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E0EEC6;
    height: 100vh;
  }

.menuLateral{
    width: 150px;
    background-color: #243E36;
    padding: 20px;
}

.menuLateral a:link, .menuLateral a:visited {
    display: block;
    width: 100%;
    border-radius: 10px;
    color: #CBDF90;
    padding: 5px;
    text-align: center;
    text-decoration: none;
  }
  
  .menuLateral a:hover, .menuLateral a:active {
    background-color: rgb(163, 163, 163);
    text-align: center;
  }

  .linkSelected {
    font-weight: bold;
    font-size: large;
}

.router-content {
    position: relative;
  }

.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
