<app-jovemdev-title></app-jovemdev-title>
<div class="container">
    <div class="menuLateral">
        <a routerLink="/menu" routerLinkActive="linkSelected">Tela Inicial</a><br>
        <a routerLink="/bindings" routerLinkActive="linkSelected">Exemplo Bindings</a><br>
        <a routerLink="/imc" routerLinkActive="linkSelected">Calcular IMC</a><br>
        <a routerLink="/ng-class" routerLinkActive="linkSelected">Ng Class</a><br>
        <a routerLink="/ng-style" routerLinkActive="linkSelected">Ng Style</a><br>
        <a routerLink="/ng-model" routerLinkActive="linkSelected">Ng Model</a><br>
        <a routerLink="/ng-if" routerLinkActive="linkSelected">Ng If</a><br>
        <a routerLink="/ng-for" routerLinkActive="linkSelected">Ng For</a><br>
        <a routerLink="/ng-switch" routerLinkActive="linkSelected">Ng Switch</a><br>
        <a routerLink="/pipes" routerLinkActive="linkSelected">Pipes</a><br>
        <a routerLink="/microondas" routerLinkActive="linkSelected">Microondas</a><br>
        <a routerLink="/pai-filho" routerLinkActive="linkSelected">Pai > Filho</a><br>
        <a routerLink="/filho-pai" routerLinkActive="linkSelected">Filho > Pai</a><br>
        <a routerLink="/services" routerLinkActive="linkSelected">Services</a><br>
        <a routerLink="/atv-modulos" routerLinkActive="linkSelected">Atv Modulos</a><br>
    </div>
    <div class="centered-content">
        <div class="router-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
