<div>
    <div>
        <fieldset>
            <legend>Lista de Medicamentos</legend>
            
            <table border="1" cellSpacing="0" width="30%">
                <tr>
                    <td class="centraliza"><b>Nome</b></td>
                    <td class="centraliza"><b>Valor</b></td>
                </tr>
                <tr *ngFor="let med of medicamentos">
                    <td>{{med.nome}}</td>
                    <td>{{med.valor}}</td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>