<div class="box">
        <fieldset>
            <legend>Calculador de IMC</legend>
            <div class="inputTxt">
                <div>
                    <label for="peso">Peso:</label>
                    <input type="number" id="peso" [(ngModel)]="pesoDigitado" placeholder="Digite seu peso">
                    <h3>{{pesoDigitado}}</h3>
                    <label for="altura">Altura:</label>
                    <input type="number" id="altura" [(ngModel)]="alturaDigitada" placeholder="Digite sua altura">
                    <h3>{{alturaDigitada}}</h3>
                    <label for="idade">Idade</label>
                    <input type="number" id="idade" [(ngModel)]="idadeDigitada" placeholder="Digite sua idade">
                </div>
                <br>
                <div>
                    Sexo:
                    <input type="radio" id="sexMasc" name="inputSex" value="Masculino" [(ngModel)]="sexoEscolhido">
                    <label for="sexMasc">Masculino</label>
                    <input type="radio" id="sexFem" name="inputSex" value="Feminino" [(ngModel)]="sexoEscolhido">
                    <label for="sexFem">Feminino</label>
                </div>
                <br>
                <div>
                    <p>{{resultado}}</p>
                </div>
                <br>
                <div>
                    <button (click) = "enviaFormulario()" [disabled] = "verificaDados()">Calcular IMC</button>
                </div>
            </div>
        </fieldset>
</div>

